@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {

    // font-family: 'Poppins', sans-serif;
}

.bold {

    font-weight: 700;
}

.favouriteButton {

    position: absolute;
    top: 10px;
    right: 15px;
    background-color: white;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 500px;
    padding: 0.4rem;

    svg {

        margin-left: -0.05rem;
        height: 1.2rem;
        width: 1.2rem;
        color: rgb(243, 102, 102);
    }
}

.ion-color-primary {
    --ion-color-base: var(--ion-color-primary, #7c3b6a) !important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb, 56, 128, 255) !important;
    --ion-color-contrast: var(--ion-color-primary-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-primary-shade, #7c3b6a) !important;
    --ion-color-tint: var(--ion-color-primary-tint, #7c3b6a) !important;
}
