.signupPage {
    ion-toolbar {
        --background-color: #7c3b6a;
        --border-style: none;
        --border-color: transparent;
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --padding-start: 1rem;
        --padding-end: 1rem;
    }

    ion-grid {
        background-color: #7c3b6a;
    }

    h2 {
        color: #d3a6c7;
    }

    p {

        margin-top: 0.2rem;
        color: #d3a6c7;
    }

    ion-slides {
        height: 100%;
        --bullet-background: red !important;
        --bullet-background-active: rebeccapurple !important;
    }
}

.headingText {

    p {

        margin-top: 0.2rem;
        color: #d3a6c7;
    }
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
